/* josefin-sans-200 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/josefin-sans-v20-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/josefin-sans-v20-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/josefin-sans-v20-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/josefin-sans-v20-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./fonts/josefin-sans-v20-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/josefin-sans-v20-latin-200.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/josefin-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/josefin-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/josefin-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/josefin-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/josefin-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/josefin-sans-v20-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/roboto-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-mono-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-mono-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-mono-v13-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

:root {
  --clr-primary-200: #8a7f94;
  --clr-primary-400: #45405c;

  --clr-neutral-100: #CCCCCC;
  --clr-neutral-900: #594D65;
  --clr-neutral-1000: #333333;

  --ff-primary: "Josefin Sans", Sans;
  --ff-accent: "Roboto Mono", monospace;
}

body {
  color: var(--clr-neutral-1000);
  background-color: white;
  font-family: var(--ff-primary);
  font-weight: 400;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  border-radius: 1rem;
}

article {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article h2 {
	text-align: center;
	border-bottom: .1rem solid var(--clr-neutral-900);
}

.main_section, .social_media_links, footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.home_button_logo img {
  width: 12.5rem;
}

.centered_text_section, .home_button_logo {
  text-align: center;
}

.main_section div, .centered_text_section div {
  font-size: 16pt;
}

.main_section div {
  text-align: justify;
}

.social_media_links {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--clr-neutral-900);
  border-radius: 1rem;
}

.social_media_links a
{
  color: white;
  text-align: center;
  flex: auto;
  font-size: 20pt;
  padding-top: .5rem;
}

.social_media_links a img {
  padding-top: .5rem;
}

#text_only_link {
  padding-top: 1em;
}

footer {
  border-top: .1rem solid var(--clr-neutral-900);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

footer a {
  color: var(--clr-neutral-1000);
  text-align: center;
  flex: auto;
  font-size: 16pt;
}


/* media query for wide screens (e.g. Tablet, Desktop screen) */
@media (min-width: 70rem) {

  main {
    margin-left: 18rem;
    margin-right: 18rem;
  }

  header {
    margin-top: 25vh;
    margin-bottom: 25vh;
  }

  .social_media_links {
    margin-bottom: 20vh;
  }

  .home_button_logo {
    margin-top: 4rem;
  }

  .main_section, .social_media_links, footer {
    flex-direction: row;
  }

  .main_section img {
    align-self: flex-start;
    object-fit: contain;
    max-width: 50%;
  }

  .main_section div {
    margin-left: 2rem;
  }

  .main_section div p {
    margin-top: 2rem;
  }

}
