/* josefin-sans-200 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/josefin-sans-v20-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/josefin-sans-v20-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v20-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v20-latin-200.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/josefin-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/josefin-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v20-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v13-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

:root {
  --clr-primary-200: #8a7f94;
  --clr-primary-400: #45405c;

  --clr-neutral-100: #CCCCCC;
  --clr-neutral-900: #333333;

  --ff-primary: "Josefin Sans", monospace;
  --ff-accent: "Roboto Mono", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color:var(--clr-primary-200);
}

.content {
  height: 200vh;
  background-color:var(--clr-primary-200);
  display: grid;
}

/* navigation styles start here */

header {
  background: var(--clr-neutral-100);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 6%;
  top: 0;
}

nav p {
  opacity: 0;
  margin-bottom: 1.25em;
  margin-right: 1em;
}


.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 4rem;
  height: 100%;
  display: flex;
  align-items: center;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--clr-neutral-900);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav{
  position: absolute;
  text-align: left;
  top: 100%;
  width: 100%;
  left: 0;
  background: var(--clr-neutral-100);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

nav li {
  margin-top: 1em;
  margin-left: 1em;
  display: flex;
}


nav a {
  color: var(--clr-neutral-900);
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover{
  color: var(--clr-primary-200)
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1)
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: transform 400ms ease-in-out;
}

.img-logo {
  width: 2rem;
  height: 2rem;
  margin-left: .5rem;
  margin-top: .5rem;
  display: flex;
}

.flag {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;

}

#flag-img {
  width:2rem;
  height: 2rem;
}

.nav-toggle:checked ~ nav p {
  opacity: 1;
  transition: transform 400ms ease-in-out;
}

p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

section {
  padding: 10rem 0;
}

.container {
  height: 40%;
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.split {
  margin:0 auto;
  display: flex;
  flex-direction: column;
}

.index_div {
  background-color: var(--clr-neutral-900);
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  height: 30%;
  bottom: .5rem;
  left: 10%;
  width: 80%;
}

.index_div p {
  display: flex;
  justify-content: center;
  align-content: center;            
}

.social-media-icon {
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1.5rem;
  width: 1.5rem
}

.youtube-icon {
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2.5rem;
  width: 7.5rem
}

.welcome-img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.5rem;
  margin-bottom: auto;
}

.img_div {
  border-color: var(--clr-neutral-900);
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 1rem;
}

.vertical-align{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
 .scrollable{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  overflow-y: scroll;
 }

 h1, h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--clr-neutral-900);
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 2fr auto minmax(600px, 30fr) 1fr;
  }

  nav {
   position: relative;
   text-align: left;
   transition: none;
   transform: scale(1, 1);
   background: none;
   top: initial;
   left: initial;

   grid-column: 3/4;
   display: flex;
   justify-content: flex-end;
   align-items: center;
  }

  nav p {
    display: flex;
    text-align: right;
    opacity: 1;
  }
  nav ul {
    display: flex;
  }


  nav li {
    margin-left: 3rem;
    margin-bottom: 3.75rem;
  }

  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before{
    content: '';
    display: block;
    height: .1rem;
    background-color: #333333;
    position: absolute;
    top: -.25rem;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before{
    transform: scale(1,1);
  }
  
  .img-logo {
    width: 2rem;
    height: 2rem;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;  
  }

  .flag {
    grid-column: 4;
    margin-bottom: 3.75rem;
    margin-left: 5rem;
    margin-right: 0;
    display: flex;

  }

  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }

  .container {
    height: 20%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .social-media-icon {
    height: 3rem;
    width: 3rem
  }
  .youtube-icon {
    margin-top: .5rem;
    height: 5.5rem;
    width: 16.5rem;
  }

  .border-img{
    display: block;
    max-width: 100%;
    border: 2rem solid var(--clr-primary-400);
  }

  .index_div{
    bottom: 1rem;
    height: 20%;
  }

  .welcome-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1rem;
    margin-bottom: auto;
  }
  
  .scrollable{
    max-height: 600px;
    overflow-y: scroll;
  }
}

@media (min-width: 40em) {
  section {
    padding: 20rem 0;
  }
}

@media screen and (min-width: 1312px) {
  .img-logo{
    width: 3rem;
    height: 3rem;
    margin-left: 10%;
    margin-top: 10%;
  }
}

