main{
  margin-left: 0px;
  margin-top: 0px;
}
p {
  font-size: 14px;
  color: #3f6146;
  font-family: 'Roboto Mono', monospace;
}

ul {
  font-size: 14px;
  color: #3f6146;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  text-align: center;
  color: #233627;
  font-weight: bolder;
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  text-align: center;
  color: #233627;
  font-weight: bolder;
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
}

img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#divCenter {
  margin:0px;
}

 #divIDOne {
   margin-top: 0px;
   margin-right: 0px;
   margin-left: 0px;
 }

 #divIDTwo {
   margin-top: 0px;
   margin-left: 0px;
 }


.upper-left-col {
  background-color: #5e5b59;
  vertical-align: middle;
}

.upper-middle-col{
  background-color: #a8a39f;
  text-align: center;
  vertical-align: middle;
}

.upper-right-col{
  background-color: #d8d6d4;
  vertical-align: middle;
}

.middle-left-col {
background-color: #a8a39f;
text-align: center;
vertical-align: middle;
}

.middle-centre-col {
  background-color: #5e5b59;
  vertical-align: middle;
}

.middle-right-col{
  background-color: #a8a39f;
  vertical-align: middle;
}

.bottom-left-col{
  background-color: #d8d6d4;
  vertical-align: middle;
}

.bottom-middle-col {
  background-color: #a8a39f;
  text-align: center;
  vertical-align: middle;
}

.bottom-right-col {
  background-color: #5e5b59;
  vertical-align: middle;

}
