body {
    background: #B6BFB8;
    font-family: 'Roboto Mono', monospace;
}

p {
  font-size: 14px;
  color: #3F6146;
}

.intro-paragraph {
  font-size: 16px;
  text-align: right;
}

.header-paragraph {
  margin-left: 100px;
  text-align: center;
}

h1 {
    margin-top: 150px;
    margin-left: 100px;
    text-align: center;
    color: #3F6146;
    font-weight: bolder;
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.logo-img {
  text-align: center
}


.left-col {
  background-color: #E0D1BF;
}

.right-col {
  background-color: #948D85;
}
